<h1>Criar Tarefa</h1>
<form action="/tasks/add" method="POST">
<label for="title">Titulo</label>
<input type="text" name="title">
<label for="description">Descrição</label>
<textarea name="description" style="resize: none;" rows="3"></textarea>
<input type="submit" value="Criar">
</form>